/*///////////////*/
/*/////media/////*/
/*///////////////*/
@media all and (max-width:768px)
{
	/* 小于768px 视为移动设备 */
	.daohang768{
		width:100%;
	}
	.mp3box{
		top:-5em;
		left:2em;
	}
	.wenzhangl_media{
		position:relative;
		width:100%;
		border-bottom:solid 1px #D1D1D1;
	}
	.wenzhangr_media{
		position:relative;
		width:100%;
		left:0;
	}
	.articlelist_media{
		width:98%;
	}
	.pageshow_line_media{
		opacity:0;	
	}
	.myinfobox_media{
		display:none;	
	}
	.myphotobox_media{
		margin-left:-7.5em;
	}
	.lit_boxr_media{
		display:none;
	}
	.lit_boxl_media{
		width:100%;
	}
	.mp3body3dbox_media{
		height:28em;
		left:1em;
	}
	.mp3body_media{
		height:28em;
	}
	.movieinfol_media{
		position:relative;
		width:100%;	
	}
	.movieinfor_media{
		width:100%;
		left:0;	
	}
	.daohang_libox_media{
		width:20%;
		margin-right:.2em;
	}
	.daohang_word_media{
		display:none;
	}
	.ybox_media{
		width:100%;
	}
}

@media all and (min-width:769px)
{
	/* 大于768px 视为PC */
	.daohang768{
		width:60%;
	}
	.mp3box{
		top:-1em;
		left:2em;
	}
	.wenzhangl_media{
		position:absolute;
		width:65%;
		min-height:100%;
		border-right:solid 1px #D1D1D1;
	}
	.wenzhangr_media{
		position:absolute;
		width:35%;
		left:65%;
	}
	.articlelist{
		width:32%;
	}
	.pageshow_line_media{
		opacity:1;	
	}
	.myinfobox_media{
		display:block;	
	}
	.myphotobox_media{
		margin-left:-20em;
	}
	.lit_boxr_media{
		display:block;
	}
	.lit_boxl_media{
		width:60%;
	}
	.mp3body3dbox_media{
		height:32em;
		left:5em;
	}
	.mp3body_media{
		height:32em;
	}
	.movieinfol_media{
		position:absolute;
		width:50%;	
	}
	.movieinfor_media{
		width:49%;
		left:50%;	
	}
	.daohang_libox_media{
		width:22%;
		margin-right:.5em;
	}
	.daohang_word_media{
		display:block;
	}
	.ybox_media{
		width:49%;
	}
}

/*///////////////*/
/*//////标签//////*/
/*///////////////*/
html{
	background-color:rgb(0,0,0);
	}
body{
	overflow:hidden;
	width:100%;
	height:100%;
	background-color:rgb(0,0,0);
	}
p{
	text-indent:2em;	
}
/*///////////////*/
/*//////id///////*/
/*///////////////*/
.bigboss{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#boss{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgb(0,0,0);
	display:none;
}
#logo{
	position:absolute;
	width:6em;
	height:auto;
	top:2em;
	left:2em;
	z-index:900;
	}
#page1{
	top:0;
	left:0;
	}
#page2{
	top:100%;
	left:0;
	background-image:url(../img/page2/back.jpg);
	background-size:cover;
	background-position:center;
	}
#page3{
	top:200%;
	left:0;
	background-color:#000;
	background-image:url(../img/page3/back.jpg);
	background-size:cover;
	background-position:center;
	}
#page4{
	top:300%;
	left:0;
	background-image:url(../img/page4/back.jpg);
	background-size:cover;
	background-position:center;
	}
#daohang{
	position:fixed;
	right:0;
	bottom:1.7em;
	height:1.7em;
	z-index:999;
	visibility:hidden;
	opacity:0;
	text-align:right;
	}
#footer{
	position:fixed;
	width:100%;
	height:1.2em;
	left:0;
	bottom:0;
	text-align:right;
	font-size:.8em;
	line-height:1.2em;
	padding:.2em 0 .2em 0;
	color:#61544a;
	background-color:rgba(18,9,2,.9);/*#120902*/;
	z-index:900;
	display:none;
	}
#mp3box{
	position:absolute;
	width:2em;
	height:2em;
	cursor:pointer;
}
#mp3body3dbox{
	position:absolute;
	display:none;
	bottom:0;
	width:22em;
			perspective:350px;
	-webkit-perspective:350px;
	-moz--perspective:350px;
	-ms-perspective:350px;
	-o-perspective:350px;
}
#mp3body{
	position:absolute;
	width:22em;
	top:0;
	left:0;
	border:solid 1px #FFFFFF;
	background-color:rgba(0,0,0,.7);
	box-shadow:0 0 15px #000000;
	opacity:0;
	
			transform:rotateX(15deg) rotateY(15deg);
	-webkit-transform:rotateX(15deg) rotateY(15deg);
	-moz-transform:rotateX(15deg) rotateY(15deg);
	-ms-transform:rotateX(15deg) rotateY(15deg);
	-o-transform:rotateX(15deg) rotateY(15deg);
	
			transition:transform 500ms,opacity 500ms;
	-webkit-transition:-webkit-transform 500ms,opacity 500ms;
	-moz-transition:-moz-transform 500ms,opacity 500ms;
	-ms-transition:-ms-transform 500ms,opacity 500ms;
	-o-transition:-o-transform 500ms,opacity 500ms;
}
#mp3btnimg{
	width:2em;
}
#pageimgbox1{
	
}
#pageimgbox2{
	background-image:url(../img/home1.jpg);
	z-index:2;
}
/*///////////////*/
/*//////class////*/
/*///////////////*/
.page{/* boss中的每一页通用样式 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgb(0,0,0);
	overflow:hidden;
}
.daohang_d{/* 导航中的小div样式 */
	position:absolute;
	width:100%;
	bottom:0;
	text-align:right;
	border-bottom:solid 1px;
	border-bottom-color:#ccc;
	color:#FEFEFE;
	cursor:pointer;
	overflow:hidden;
	}
.daohang_word{/* 导航中的文字 */
	position:absolute;
	right:-100%;
	top:0;
	text-shadow:0 0 5px #000000;
}
.daohang_icon{
	text-shadow:0 0 5px #000000;
}
.daohang_t{/* 上边线 */
	position:absolute;
	top:0;
	left:50%;
	width:0;
	height:1px;
	background-color:rgb(255,255,255);
	}
.daohang_l{
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:0;
	background-color:rgb(255,255,255);
	}
.daohang_r{
	position:absolute;
	bottom:0;
	right:0;
	width:1px;
	height:0;
	background-color:rgb(255,255,255);
	}
.daohang_libox{
	display:inline-block;
	height:100%;
}
.pageimgbox{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:block;
	background-size:cover;
	background-position:center;
}
.mp3control{
	position:relative;
	height:5em;
}
.mp3list{
	position:absolute;
	height:90%;
	width:100%;
	overflow-Y:auto;
	overflow-X:hidden;
}
.mp3name{
	text-align:left;
	line-height:4em;
	color:rgb(255,255,255);

}
.mp3_1{
	height:4em;
	cursor:pointer;
}
.mp3_1:hover{
	background-color:rgba(0,0,0,.9);
}
.mp3img{
	float:left;
	width:3.5em;
	margin-right:3px;
}
.mp3audio{
	position:absolute;
	left:0;
	width:100%;
	bottom:0;
}
.mp3info{
	position:absolute;
	width:100%;
	left:0;
	color:rgb(245,245,245);
	text-align:left;
	text-indent:1em;
	}
.mp3_img{
	width:3em;
	height:3em;
	margin-top:.5em;
	border-radius:3px;
}

.myphotobox{
	position:absolute;
	width:15em;
	top:50%;
	left:50%;
	margin-top:-15em;
	text-align:center;
	color:rgb(245,245,245);
	text-shadow:0 0 10px rgba(0,0,0,.5);
}
.myphoto{
	position:relative;
	width:10em;
	height:10em;
	border:solid 2px rgba(255,255,255,.5);
	border-radius:50%;
}
.myinfobox{
	position:absolute;
	top:50%;
	left:50%;
	width:15em;
	margin-top:-15em;
	color:#f5f5f5;
}
.myinfoa{
	color:#f5f5f5;
}
.myinfoa:hover{
	text-decoration:underline;
}
.littleword{
	position:relative;
	padding:.2em 0 .2em 0;
}

.lit_t{
	position:absolute;
	top:0;
	right:0;
	width:10;
	height:1px;
	background-color:rgb(255,255,255);
	}
.lit_b{
	position:absolute;
	bottom:0;
	left:0;
	width:0;
	height:1px;
	background-color:rgb(255,255,255);
	}
.lit_l{
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:0;
	background-color:rgb(255,255,255);
	}
.lit_r{
	position:absolute;
	bottom:0;
	right:0;
	width:1px;
	height:0;
	background-color:rgb(255,255,255);
	}
.litword3dbox{
	position:absolute;
	width:80%;
	height:50%;
	top:25%;
	left:10%;
	display:none;
	z-index:1001;
	
			perspective:600px;
	-webkit-perspective:600px;
	-moz-perspective:600px;
	-ms-perspective:600px;
	-o-perspective:600px;
}
.litwordbox{
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(18,9,2,.9);/*#120902*/
	border-radius:3px;
	border:solid 2px rgba(255,255,255,.5);
	transform:rotateX(45deg);
	-webkit-transform:rotateX(45deg);
	-moz-transform:rotateX(45deg);
	-ms-transform:rotateX(45deg);
	-o-transform:rotateX(45deg);
	opacity:0;
}
.lit_header{
	height:1.5em;
	width:98%;
	left:1%;
	line-height:1.5em;
	color:#61544a;
	border-bottom:solid 1px #61544a;
}
.lit_footer{
	height:2em;
}
.lit_boxr{
	width:40%;
	height:100%;
	overflow-X:hidden;
	overflow-Y:auto;
	}
.lit_okbtn{
	position:absolute;
	width:100%;
	border:solid 1px #61544a;
	color:#61544a;
	text-align:center;
}
.lit_okbtn:hover{
	background-color:rgba(0,102,0,.8);
	color:rgb(240,240,240);
	border-color:rgb(240,240,240);
	}
.lit_body{
	width:96%;
	left:2%;
	margin-top:.2em;
	margin-bottom:.2em;
	color:#61544a;
	overflow-Y:auto;
	overflow-X:hidden;
}
.zhifeijibtn{
	height:1em;
	margin-top:.2em;
	margin-left:3px;
}
.litwordclose{
	position:absolute;
	width:2em;
	height:2em;
	top:0;
	right:3em;
	border:solid 2px rgba(255,255,255,.5);
	border-bottom:none;
	background-color:rgba(18,9,2,.8);/*#120902*/
	margin-top:-2px;
	display:none;
}
.litwordclose:hover{
	background-color:rgba(235,0,0,.8);
	border-color:#ffffff;
}
.litclose{
	width:80%;
	margin-left:10%;
	margin-top:10%;
}
.close_l{
	position:absolute;
	width:90%;
	height:1px;
	top:50%;
	left:5%;
	background-color:#ffffff;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	}
.close_r{
	position:absolute;
	width:90%;
	height:1px;
	top:50%;
	left:5%;
	background-color:#ffffff;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	}
.lit_name{
	width:98%;
	left:1%;
	height:1.5em;
	line-height:1.5em;
	border-bottom:solid 1px #61544a;
	color:#61544a;
	margin-bottom:.2em;
	}
.lit_input{
	background-color:transparent;
	color:#c8c8c8;
	width:10em;
	border:none;
	}
.lit_face{
	width:3em;
	height:1.8em;
	float:left;
	background-image:url(../img/page4/style1.png);
	background-size:auto 1em;
	background-position:center;
	background-repeat:no-repeat;
	}
.lit_face:hover{
	background-image:url(../img/page4/style2.png);
	}
.lit_okbtnbox{
	float:right;
	width:30%;
	margin-right:1.4%;
	}
.lit_face_img{
	height:1.5em;
	width:auto;
	}
.lit_allfaces{
	position:absolute;
	width:98%;
	height:40%;
	left:1%;
	bottom:0;
	display:none;
	background-color:rgba(235,235,235,.9);
	overflow-Y:auto;
	}
.lit_u{
	position:absolute;
	top:0;
	right:0;
	width:15em;
	text-align:right;
	
	}
.lit_wordsnum{
	position:absolute;
	left:0;
	height:1.5em;
	color:#61544a;
	font-size:.85em;
	float:left;
	}
.lit_userwords{
	width:98%;
	margin-left:1%;
	margin-top:3px;
	margin-bottom:3px;
	border:solid 1px #61544a;
	color:#c7c7c7;
	border-radius:5px;
	}
.lit_uw_w{
	font-size:1em;
	margin:.2em .5em .2em .5em;
	}
.lit_uw_n{
	margin-right:.5em;
	}
.lit_uw_t{
	margin-right:.5em;
	}
.lit_boxl{
	float:left;
}
/* page2相关 */
.p2_daohang{
	position:absolute;
	width:15em;
	height:100%;
	top:0;
	left:-15em;
	background-color:rgba(0,0,0,.7);
	z-index:910;
	
	transition:left 300ms;
	-webkit-transition:left 300ms;
	-moz-transition:left 300ms;
	-ms-transition:left 300ms;
	-o-transition:left 300ms;
	}
.p2_dh_btn0{
	position:absolute;
	width:3em;
	height:5em;
	right:-3em;
	top:50%;
	margin-top:-2.5em;
	overflow:hidden;
	
	transform-origin:0 50%;	/*x,y*/
	-webkit-transform-origin:0 50%;
	-moz-transform-origin:0 50%;
	-ms-transform-origin:0 50%;
	-o-transform-origin:0 50%;
	
	}
.p2_dh_btn{
	position:absolute;
	width:2em;
	height:2em;
	left:-1em;
	top:50%;
	margin-top:-1em;
	background-color:rgba(202,202,202,.8);
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	}
.p2_dh_btn:hover{
	background-color:rgba(245,245,245,1);
	box-shadow:0 0 8px #FFFFFF;
}
.myting{
	height:3em;
	line-height:3em;
	color:#f5f5f5;
}
.myting:hover{
	background-color:rgba(0,0,0,.8);
}
.mything_logo2{
	color:rgb(194,194,194);
	font-size:.8em;
	font-style:italic;
	margin-bottom:1.5em;
}
.p2_divs{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}
.movelr{
	width:90%;
	height:100px;
	left:5%;
	top:40px;
	overflow-X:auto;
	display:none;
}
.movedh{
	position:absolute;
	height:11em;
	width:90%;
	left:5%;
	bottom:3em;
}
.movecard{
	display:inline-block;
	width:6em;
	height:10em;
	margin:0 .5em 0 .5em;
	cursor:pointer;
	opacity:0;
}
.movecardbtn{
	display:inline-block;
	width:6em;
	height:10em;
	margin:0 .5em 0 .5em;
	cursor:pointer;
	color:#fefefe;
	background-color:rgba(0,0,0,.7);
	display:none;
}
.movecardbtn:hover{
	background-color:rgba(0,0,0,1);
}
.movieinfol{
	top:0;
	left:0;
}
.movieinfor{
	top:0;
}
.movieinfo_img{
	width:80%;
	margin-left:10%;
}
.movieinfo_div{
	padding:1em;
	border-bottom:solid 1px rgba(255,255,255,.3);
}
.movieinfo_span1{
	font-size:.85em;
	color:#dedede;	
}
.movieinfo_span2{
	color:#efefef;
}
.moviemargin{
	margin-left:1em;
}
.movieinfo_photo{
	display:block;
	width:98%;
	margin-left:1%;	
	margin-bottom:5px;
}
.movieinfo_name{
	width:80%;
	left:10%;
	color:#efefef;	
}
.page1show{
	position:absolute;
	z-index:10;
	width:100%;
	top:35%;
	text-align:center;
	color:#120902;
	text-shadow:0 0 1px #120902;
	opacity:0;
	
	transition:top 500ms,opacity 500ms;
	-webkit-transition:top 500ms,opacity 500ms;
	-moz-transition:top 500ms,opacity 500ms;
	-ms-transition:top 500ms,opacity 500ms;
	-o-transition:top 500ms,opacity 500ms;
}
.page2show{
	position:absolute;
	z-index:10;
	width:100%;
	top:20%;
	text-align:center;
	color:#efefef;
	text-shadow:0 0 1px #120902;
	opacity:1;
}
.page1show_line{
	width:1em;/*24em*/
	left:50%;
	margin-left:-.5em;
	height:1px;
	background-color:#120902;
	
	transition:width 500ms,margin-left 500ms;
	-webkit-transition:width 500ms,margin-left 500ms;
	-moz-transition:width 500ms,margin-left 500ms;
	-ms-transition:width 500ms,margin-left 500ms;
	-o-transition:width 500ms,margin-left 500ms;
}
.page2show_line{
	width:24em;/*24em*/
	left:50%;
	margin-left:-12em;
	height:1px;
	background-color:#efefef;
}
.articlebox,.gamebox{
	width:80%;
	height:50%;
	left:10%;
	top:20%;
	overflow-x:hidden;
	overflow-y:auto;
	opacity:0;
	}
.articlelist{
	height:12em;
	float:left;
	margin-left:1%;
	margin-bottom:.2em;
	margin-top:.2em;
	
	background-size:cover;
	opacity:.8;
}
.articlelist:hover{
	opacity:1;
}
.article_info1{
	position:absolute;
	height:2em;
	width:100%;
	bottom:0;
	left:0;
	line-height:2em;
	background-color:rgba(0,0,0,.5);
}

.ar_info1{
	font-size:1em;
	color:#fefefe;
	margin-left:.5em;
}
.ar_info2{
	margin-left:1em;
	font-size:.8em;
	color:#ddd;
}
.wenzhang{
	position:absolute;
	width:0;
	height:1%;
	top:48%;
	left:50%;
	margin:0;
	background-color:#fefefe;
	overflow-Y:auto;
	z-index:999;
	display:none;
}
.wenzhangl{
	display:none;
}
.wenzhangr{
	text-align:center;
	display:none;
	}
.wenzhang_1{
	width:90%;
	left:5%;
	margin-top:5em;
	word-break:break-all;
　　word-wrap:break-word;
}
.wenzhang_photo{
	position:relative;
	width:10em;
	height:10em;
	border:double 3px #ccc;
	border-radius:6em;
	margin-top:5em;
}
.wenzhang_close{
	position:absolute;
	width:3em;
	height:3em;
	top:.5em;
	right:.5em;
}
.wclose_l{
	position:absolute;
	width:90%;
	height:1px;
	top:50%;
	left:5%;
	background-color:#f00;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	}
.wclose_r{
	position:absolute;
	width:90%;
	height:1px;
	top:50%;
	left:5%;
	background-color:#f00;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	}
.youxi{
	position:absolute;
	top:0;
	left:100%;
	width:100%;
	height:100%;
	background-color:#fefefe;
	overflow-Y:auto;
	z-index:999;
}
.youxi_1{
	height:12em;
	width:100%;
	background-size:cover;
	color:#fefefe;
	text-shadow:0 0 8px #ccc;
	line-height:12em;
	margin-top:20px;
	opacity:0;
}
.youxi_2{
	margin-top:20px;
	opacity:0;
}
.youxi_3{
	margin-top:20px;
	opacity:0;
}
.youxi_div{
	width:96%;
	left:2%;
}
.y2_lr{
	display:inline-block;
	top:0;
	left:0;	
}
.y2_info{
	width:98%;
	left:1%;
	height:3em;
	line-height:3em;
	border-bottom:solid 1px #ccc;
	color:#888;
}
.y3_title{
	width:98%;
	left:1%;
	height:3em;
	line-height:3em;
	color:#888;
}
.y3_info{
	width:96%;
	left:2%;
	padding-bottom:.5em;
}
.y3_img{
	width:100%;
	height:auto;
	margin-bottom:.5em;
}
.page3_list{
	position:absolute;
	width:16em;
	height:60%;
	top:20%;
	right:2em;
	overflow-y:auto;
	overflow-x:hidden;
}
.p3_banner{
	width:12em;
	height:3em;
	line-height:3em;
	border:solid 1px #CCC;
	box-shadow:0 0 2px #FFF;
	color:#fff;
	text-align:center;
	margin-bottom:.5em;
	
	transition:background-color 300ms,box-shadow 300ms;
	-webkit-transition:background-color 300ms,box-shadow 300ms;
	-moz-transition:background-color 300ms,box-shadow 300ms;
	-ms-transition:background-color 300ms,box-shadow 300ms;
	-o-transition:background-color 300ms,box-shadow 300ms;
	
}
.p3_banner:hover{
	background-color:rgb(0,0,0);
	box-shadow: 0 0 8px #fff;
}
.page3_bigimg{
	position:absolute;
	width:80%;
	height:70%;
	top:15%;
	left:10%;
	overflow:hidden;
}
.p3_bigimg{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:100%;
	background-size:cover;
	background-position: center;
}
.page3_word{
	position:absolute;
	top:50%;
	left:5%;
	width:15em;
	height:2em;
	margin-top:-1em;
	font-size:2em;
	line-height:2em;
	overflow:hidden;
}
.p3_word{
	position:absolute;
	left:0;
	top:100%;
	width:100%;
	height:100%;
	font-weight:bold;
}
.mywork{
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	background-color:#efefef;
	overflow-Y:auto;
	z-index:999;
	display:none;
}
.mywork_info1{
	position:relative;
	display:inline-block;
	width:96%;
	height:auto;
	left:2%;
	margin-top:.5em;	
	margin-bottom:.5em;
}
.mywork_info2{
	width:96%;
	height:auto;
	left:2%;
	margin-top:.25em;
	margin-bottom:.25em;
	color:#ccc;
	text-align:center;
	font-size:2em;
}
.myworkbox{
	width:100%;
	display:none;
	}
.bigbtncolor{
	color:#0F3;
	}
.body_message{
	position:fixed;
	height:2em;
	width:100%;
	top:50%;
	margin-top:-1em;
	font-size:1em;
	color:#fefefe;
	text-align:center;
	display:none;
	z-index:1200;
}
.body_m{
	padding:.5em 1em .5em 1em;
	background-color:#000;
	border-radius:.3em;
	box-shadow:0 0 5px #fff;
}
.iload{
	position:absolute;
	width:1.2em;
	height:1.2em;
	top:50%;
	left:50%;
	margin-top:-.6em;
	margin-left:-.6em;
}
.loadmore{
	width:98%;
	height:2em;
	left:1%;
	font-size:.8em;
	line-height:2em;
	text-align:center;
	color:#AAF;
	display:none;
	border-radius:.5em;
}
.loadmore:hover{
	background-color:rgb(0,0,0);
}
.yx_span{
	color:#101010;
	margin-left:.5em;
}
.wenzhang_line{
	width:100%;
	height:1px;
	background-color:#e5e5e5;
	margin-top:1.5em;
	margin-bottom:1.5em;
}
/*///////////////*/
/*//css3动画相关//*/
/*///////////////*/
.daohangtran{/* 背景过渡效果 */
	transition:background-color 300ms;
	-webkit-transition:background-color 300ms;
	-moz-transition:background-color 300ms;
	-ms-transition:background-color 300ms;
	-o-transition:background-color 300ms;
}
.page4imgtran{/*  第4页图片过渡效果 */
	transition:transform 1.5s;
	-webkit-transition:-webkit-transform 1.5s;
	-moz-transition:-moz-transform 1.5s;
	-ms-transition:-ms-transform 1.5s;
	-o-transition:-o-transform 1.5s;
	
	transition-timing-function: cubic-bezier(0,0,0.28,1);
	-webkit-transition-timing-function: cubic-bezier(0,0,0.28,1);
	-moz-transition-timing-function: cubic-bezier(0,0,0.28,1);
	-ms-transition-timing-function: cubic-bezier(0,0,0.28,1);
	-o-transition-timing-function: cubic-bezier(0,0,0.28,1);
	
	transform:rotate(-540deg) scale(.5,.5);
	-webkit-transform:rotate(-540deg) scale(.5,.5);
	-moz-transform:rotate(-540deg) scale(.5,.5);
	-ms-transform:rotate(-540deg) scale(.5,.5);
	-o-transform:rotate(-540deg) scale(.5,.5);
}
.litwordboxtran{/* 小纸条出场退场效果 */
	transition:transform 300ms,opacity 300ms;
	-webkit-transition:-webkit-transform 300ms,opacity 300ms;
	-moz-transition:-moz-transform 300ms,opacity 300ms;
	-ms-transition:-ms-transform 300ms,opacity 300ms;
	-o-transition:-o-transform 300ms,opacity 300ms;
}
.wandhtran{/* 宽和高的过渡 */
	transition:width 800ms,height 800ms;
	-webkit-transition:width 800ms,height 800ms;
	-moz-transition:width 800ms,height 800ms;
	-ms-transition:width 800ms,height 800ms;
	-o-transition:width 800ms,height 800ms;
}
.opacitytran{
	transition:opacity 300ms;
	-webkit-transition:opacity 300ms;
	-moz-transition:opacity 300ms;
	-ms-transition:opacity 300ms;
	-o-transition:opacity 300ms;
}